<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/standard_header.ejs") %>

        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/about-me/edit.css"
        />
    </head>
    <body>
        <%- include('../partials/body_start') %>
        <!-- Show user info in form form so they can update info but they can't change username (no one can) or user type (job of an admin) -> Hoa  -->
        <form action="/about-me/update" method="POST">
            <h1>Edit Profile</h1>
            <div class="grid-row">
                <label for="email">Email: </label>
                <input
                    value="<%- currentUser.email %>"
                    type="email"
                    name="email"
                    required
                />
            </div>
            <div class="grid-row">
                <label for="username">Username: </label>
                <input
                    value="<%- currentUser.username %>"
                    name="username"
                    class="disabled"
                />
            </div>
            <div class="grid-row">
                <label for="type">User Type: </label>
                <input
                    value="<%- currentUser.type %>"
                    name="user_type"
                    class="disabled"
                />
            </div>
            <button class="btn btn-primary" type="submit">
                Update Profile
            </button>
        </form>

        <%- include("../partials/standard_footer.ejs") %>
    </body>
</html>
