<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/standard_header.ejs") %>

        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/tag/info.css"
        />
    </head>
    <body>
        <%- include('../partials/body_start') %>

        <div>
            <h1>Update Tag</h1>
        </div>

        <form
            name="update-tag"
            action="/tags/tag/<%= tag.id %>/update"
            method="POST"
        >
            <div class="grid-row">
                <label for="description">Tag Description: </label>
                <input
                    value="<%- tag.description %>"
                    name="description"
                    required
                />
            </div>
            <button class="btn btn-primary" type="submit">Update Tag</button>
        </form>

        <%- include("../partials/standard_footer.ejs") %>
    </body>
</html>
