<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/standard_header.ejs") %>

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/tag/show-all.css" />
</head>

<body>
    <!-- PAGE DONE BY AARON WEAST -->
    <!-- THIS IS THE PAGE WHERE ALL UNAPPROVED COMMENTS ARE DISPLAYED -->
    <%- include('../partials/body_start') %>

        <!-- HEADER-->
        <h1>Displaying All Unapproved Comments</h1>
        <!-- <a class="btn btn-primary" href="/tags/new">Add Tag</a> -->

        <!-- USING THE UNAPPROVED COMMENTS TABLE IN DATABASE FROM ROUTES,
            WE DISPLAY EACH COMMENT ID, USER ID, POST ID, AND BODY FOR EACH
            COMMENT -->
        <% if (unapproved_comments) { %>
            <table class="tags">
                <tr>
                    <th style="min-width: 150px">Comment ID</th>
                    <th style="min-width: 150px">User ID</th>
                    <th style="min-width: 150px">Post ID</th>
                    <th style="min-width: 150px">Body</th>
                    <th>Action</th>
                </tr>
                <% unapproved_comments.forEach(unapproved_comment => { %>
                    <tr class="tag">
                        <td>
                            <%= unapproved_comment.id %>
                        </td>
                        <td>
                            <%= unapproved_comment.user_id %>
                        </td>
                        <td>
                            <%= unapproved_comment.post_id %>
                        </td>
                        <td>
                            <%= unapproved_comment.body %>
                        </td>
                        <td>
                            <div class="action-btns">
                               

                                <!-- BUTTONS TO THEN APPROVE, DENY, OR EDIT COMMENTS -->
                                <a
                                    class="btn btn-primary"
                                    href="/appr_comments/unapproved_comment/<%- unapproved_comment.id %>"
                                    >Update</a
                                >

                                <form
                                    action="/appr_comments/unapproved_comment/<%= unapproved_comment.id %>/create"
                                    method="POST"
                                >
                                <button class="btn btn-primary">Approve</button>
                                </form>

                                <form
                                    action="/appr_comments/unapproved_comment/<%= unapproved_comment.id %>/delete"
                                    method="POST"
                                >
                                <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </table>
            <% } %>
                <%- include("../partials/standard_footer.ejs") %>
</body>

</html>