<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/standard_header.ejs") %>

        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/blog/show_blog.css"
        />
    </head>
    <body>
        <%- include('../partials/body_start') %>

        <div class="blog_actions">
            <a class="btn btn-primary" href="#">Update</a>
            <form action="#" method="GET">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

        <% if (blog) { %>
        <div class="card">
            <div class="card-body">
                <div class="text-body">
                    <h5><%= blog.title %></h5>
                    <p><%= blog.body %></p>
                </div>
                <div class="blog_extras">
                    <p><%= blog.created_by %></p>
                    <p>Upvotes: <%= blog.num_upvotes %></p>
                </div>
            </div>
        </div>
        <% } %> <%- include("../partials/standard_footer.ejs") %>
    </body>
</html>
