<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/standard_header.ejs") %>

        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/blog/show_blog.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="/stylesheets/comments/show_all.css"
        />
    </head>

    <body>
        <%- include('../partials/body_start') %> <% if (["blogger", "admin"
        ].includes(currentUser.type)) { %>
        <div class="blog_actions">
            <a class="btn btn-primary" href="/blogs/blog/<%= blog.id %>/edit"
                >Update</a
            >
            <form action="/blogs/blog/<%=blog.id%>/delete" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <% } %>

        <!-- show blog info should it be available -> Victoria  -->
        <% if (blog) { %>
        <div class="card">
            <div class="card-body">
                <div class="text-body">
                    <h3><%= blog.title %></h3>
                    <!-- show all tags associated with post should they be available -> Hoa  -->
                    <% if(tags) { %>
                    <div class="tags">
                        <% tags.forEach(tag=> { %>
                        <div class="tag">
                            <p><%= tag.description %></p>
                        </div>
                        <% }) %>
                    </div>
                    <% } %>
                    <p><%= blog.body %></p>
                </div>
                <div class="blog_extras">
                    <p><%= blog.created_by %></p>
                    <form
                        action="/blogs/blog/<%=blog.id%>/upvote"
                        method="POST"
                    >
                        <button class="btn btn-primary">
                            Upvotes: <%= blog.num_upvotes %>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="blog_actions">
            <form action="/blogs/blog/<%=blog.id%>/insert" method="POST">
                <label for="description">Add Comment:</label>
                <input placeholder="Description" name="description" required />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>

        <% } %> <% if(comments) { %>
        <div class="card">
            <div class="card-body">
                <div class="text-body">
                    <h5>Comments:</h5>
                    <div class="comments">
                        <% comments.forEach(comment=> { %>
                        <div class="comment_block">
                            <p class="comment"><%= comment.body %></p>
                            <div class="comment_actions">
                                <a
                                    class="btn btn-primary"
                                    href="/blogs/blog/<%=comment.id %>/editComm"
                                    >Edit</a
                                >
                                <form
                                    action="/blogs/blog/<%=comment.id%>/deleteComm"
                                    method="POST"
                                >
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <% } %> <%- include("../partials/standard_footer.ejs") %>
    </body>
</html>
